
:root {
  --secondary-text-color: #3A3A3A;
  --title-font-size: 52px;
  --paragraph-font-size: 16px;

}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



main{
    max-width: 1440px;
    margin: 5rem auto;
}

/* common styles */
.primary-button{
 padding: 10px 24px;  
 background-color: #E02C6D; 
 color: white;
 font-weight: 700;
 border-radius: 41px;
 font-size: 16px;
border: none;
margin-right: 8px;
cursor: pointer;
}
.space-left{
    margin-left: 8px;
}

/* top banner styles starts here */
.top-banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-bottom: 3rem;  
}
.top-banner-title{
    color: var(--secondary-text-color);
    font-size: var(--title-font-size);
    font-weight: 700;
    margin: 0;
}
.top-banner-image{
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.primary-description{
    color: var(--secondary-text-color);
    font-size: var(--paragraph-font-size);
    font-weight: 600;
    margin: 16px 0;
}


/* style for logo container starts here  */
.logo-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 3rem 0;
    
}

/* popular collection section  */
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}
.collection-title{
    color: var(--secondary-text-color);
    font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 70px; 
margin: 0 auto;
text-align: center;
}
.card{
    width: 300px;
    height: 430px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 20px;
}
.card-img{
    width: 300px;
    width: 260px;
}
.card-description p{
        margin: 0;
        text-align:left;
}

/* responsive media queries  */
/* mobile devices */
@media screen and (max-width: 576px) {
    .top-banner-container{
        flex-direction: column-reverse;
    }
    .logo-container{
        grid-template-columns: repeat(4, 1fr);
     
    }
    .card-container{
        
        grid-template-columns: repeat(1, 1fr);

        
    }
}
/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width:960px) {
    
}
